<div class="container-fluid shadow">
    <h2 class="text-center">Create a new Goal</h2>
    <hr>
    <form (ngSubmit)='submitGoal()' #goalForm='ngForm'>
        <div class="form-group">
            <label for="name">Name</label>
            <!-- <input type="text" required class="form-control" id="name"> -->
            <!-- used to display name input after added with #goalForm='ngForm' b4 validation -->
            <!-- <input type="text" required class="form-control" id="name" [(ngModel)]="newGoal.name" name="name"> -->
                   <!-- validation -->
            <input type="text" class="form-control" id="name" [(ngModel)]="newGoal.name" name="name" #name='ngModel' required>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Name is required *</p>
            </div>

            <!-- Testing to see if we get any data -->
          Display {{newGoal.name}}

        </div>
        <br>

        <div class="form-group">
            <label for="description">Description</label>
            <!-- <textarea class="form-control" id="description" rows="4" required></textarea> b4 validation-->
            <textarea class="form-control" id="description" rows="4" [(ngModel)]="newGoal.description" name="description" #description="ngModel" required></textarea>
        </div>
        <!-- alert -->
        <div [hidden]="description.valid || description.prestine" class="alert alert-danger">
            <p>Description is required *</p>
        </div>
          <br>
        <div class="form-group">
            <label for="complete">Completion</label>
            <!-- <input type="date" id="complete" required> b4 validation -->
            <input type='date' id="complete" [(ngModel)]="newGoal.completeDate" name="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.prestine" class="alert alert-danger">
                <p>Date is required *</p>
            </div>

        </div>
         <br>
        <button type="submit" class="btn btn-success">Add Goal</button>
    </form>
</div>
